<div class="row no-gutters work-area">
  {{> side-nav}}
  <div class="col-9 py-5 work-area__main-area">
    <div class="tab-nav-underline w-100 justify-content-start">
      <div class="tab active px-0 font-md extra-bold">Edit Profile</div>
    </div>

    {{> error-snippet}}

    <div class="row my-5 align-items-center">
      <div class="col-lg-2 col-3">
        <div class="img-ring img-ring--profile p-1">
          {{#if user.photo}}
            <img class="round img"
              src={{user.photo}}
              alt="User Photo">
          {{else}}
            <img class="round img"
              src="/img/user.svg"
              alt="User Photo">
          {{/if}}
        </div>
      </div>
      <div class="col-9">
        <h5 class="bold mb-1">Hi, {{user.firstname}} {{user.lastname}}</h5>
        <a href="#" class="salmon mt-1">
          <div class="font-sm">Change Profile Picture</div>
        </a>
      </div>
    </div>

    <div class="divider-h mb-5 mt-4"></div>

    <form action="" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <i class="far fa-envelope"></i>
              <span class="font-sm ml-2">Verified Email</span>
            </div>
            <div class="col-8">
              {{#if user.verifiedemail}}
                <span class="font-sm bold salmon mr-2">{{user.verifiedemail}}</span>
                <i class="fas fa-check"></i>
              {{else}}
                <form action="/verifyemail" method="POST">
                  <input 
                    type="text"
                    class="underline-input font-sm bold"
                    placeholder="Email to verify"
                    name="email"
                    value="{{user.email}}"
                    required />
                  <button type="submit" class="salmon">
                    Verify
                  </button>
                </form>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <i class="fas fa-phone"></i>
              <span class="font-sm ml-2">Verified Mobile Number</span>
            </div>
            <div class="col-8">
              {{#if user.verifiedmobile}}
                <span class="font-sm bold salmon mr-2">{{user.verifiedmobile}}</span>
                <i class="fas fa-check"></i>
              {{else}}
                <span class="font-sm bold mr-2">{{user.mobile_number}}</span>
                <a class="salmon" href="/verifymobile">Verify</a> 
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <span class="font-sm">User ID</span>
            </div>
            <div class="col-8">
              <span class="font-sm bold">{{user.id}}</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <span class="font-sm">User Name</span>
            </div>
            <div class="col-8">
              <span class="font-sm bold">{{user.username}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">First Name</label>
            </div>
            <div class="col-8">
              <input type="text" name="firstname" value="{{user.firstname}}" class="underline-input pb-3 font-sm bold w-100" placeholder="First Name">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Last Name</label>
            </div>
            <div class="col-8">
              <input type="text" name="lastname" value="{{user.lastname}}" class="underline-input pb-3 font-sm bold w-100" placeholder="Last Name">
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="slct" class="font-sm">Gender</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="gender" class="font-sm bold underline-select">
                  <option selected disabled hidden>Choose Gender</option>
                  <option value="MALE" class="py-2">MALE</option>
                  <option value="FEMALE" class="py-2">FEMALE</option>
                  <option value="UNDISCLOSED" class="py-2">UNDISCLOSED</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="slct" class="font-sm">College</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="collegeId" class="font-sm bold underline-select">
                  {{#each colleges}}
                    {{#ifeq expected=id val=../user.demographic.collegeId}}
                      <option class="py-2" value="{{id}}" selected>{{name}}</option>
                    {{/ifeq}}
                    {{#ifneq expected=id val=../user.demographic.collegeId}}
                      <option class="py-2" value="{{id}}">{{name}}</option>
                    {{/ifneq}}
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Password</label>
            </div>
            <div class="col-8">
              <input type="password" name="password" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Enter Password">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Re-Enter Password</label>
            </div>
            <div class="col-8">
              <input type="password" name="repassword" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Re-Enter Password">
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="slct" class="font-sm">Branch</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="branchId" class="font-sm bold underline-select">
                  {{#each branches}}
                    {{#ifeq expected=id val=../user.demographic.branchId}}
                      <option class="py-2" value="{{id}}" selected>{{name}}</option>
                    {{/ifeq}}
                    {{#ifneq expected=id val=../user.demographic.branchId}}
                      <option class="py-2" value="{{id}}">{{name}}</option>
                    {{/ifneq}}
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="slct" class="font-sm">Grad Year</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="gradYear" class="font-sm bold underline-select">
                  {{#each gradYears}}
                    {{#ifeq expected=this val=../user.graduationYear}}
                      <option class="py-2" value="{{this}}" selected>{{this}}</option>
                    {{else}}
                      <option class="py-2" value="{{this}}">{{this}}</option>
                    {{/ifeq}}
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="slct" class="font-sm">Phone Number</label>
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-4 select-container">
                  <select name="dial_code" class="font-sm bold underline-select" required>
                    {{#each countries}}
                      <option class="py-2" value="{{dial_code}}">
                        {{name}} ({{dial_code}})
                      </option>
                    {{/each}}
                  </select>
                </div>
                <div class="col-8">
                  <input 
                    type="text" 
                    class="underline-input font-sm bold w-100"
                    id="mobile_number"
                    name="mobile_number"
                    value="{{user.mobile_number}}"
                    placeholder="Phone Number" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <button class="button-solid lg" type="submit">Save Changes</button>
        <button class="font-sm ml-4 dark-grey" type="reset">Reset</button>
      </div>
    </form>
  </div>
</div>
