{{!< centercolumn}}

<div class="offset-md-4 col-md-8 c-client-page">
    <div class="card">
        <div class="flex-row justify-content-between">
            <h1 class="heading-u-red">My Clients</h1>
            <div class="button-solid align-self-start">
                <a class="white" href="/clients/add">
                    <button>+ Add New Client</button>
                </a>
            </div>
        </div>
        <div class="attributes">
            <div class="row justify-content-between">
                {{#each clients as |client|}}
                    <div class="border-card">
                        <div class="client-row heading">
                            <a href="/clients/{{client.id}}">
                                {{client.name}}
                            </a>
                        </div>
                        <div class="client-row">
                            <span>Client Id:</span>
                            <span class="grey">{{client.id}}</span>
                        </div>
                        <div class="client-row">
                            <span>Domain:</span>
                            <span class="grey">{{client.domain}}</span>
                        </div>
                        <div class="client-row">
                            <span>Callback URL:</span>
                            <span class="grey">{{client.callbackURL}}</span>
                        </div>
                        <div class="client-row">
                            <span>Webhook URL:</span>
                            <span class="grey">{{client.webhookURL}}</span>
                        </div>
                        <div class="client-row">
                            <span>Client Secret:</span>
                            <span class="grey">{{client.secret}}</span>
                        </div>
                        <div class="row justify-content-between button-row align-items-center">
                            <div class="grey">
                                <button class="removeClient" id={{client.id}}>Remove Client  <i class="far fa-window-close" id={{client.id}}></i></button>
                            </div>
                            <div class="button-dashed">
                                <a class="red" href="/clients/{{client.id}}/edit">
                                    <button>Edit Client</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="border-card">
                        <div class="client-row heading">You have registered no clients yet</div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
  $(function() {
    $(".removeClient").click(function(event) {
        console.log("Hit")
      swal({
        title: "Delete Client",
        text: "Are you sure you want to delete this client?",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          window.location.href = `/clients/${event.target.id}/delete`;
        }
      });
    })
  })
</script> 
