<div class="row no-gutters work-area">
  {{> side-nav}}
  <div class="col-md-9 py-5 work-area__main-area">
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-4">
        <div class="tab-nav-underline w-100 justify-content-start">
          <div class="tab active px-0 font-md extra-bold">My Clients</div>
        </div>
      </div>
      <a href="/clients/add" class="button-solid button-orange lg">Add Client</a>
    </div>

    <div class="row mt-5">
      {{#each clients as |client|}}
        <div class="col-lg-6 col-md-12 col-sm-6 mb-5">
          <div class="border-card p-xl-5 p-4 position-relative">
            <div class="row justify-content-between no-gutters">
              <div class="mr-3">
                <h5 class="bold mb-4">{{client.name}}</h5>
              </div>
              <a href="/clients/{{client.id}}/edit" class="orange semi-bold">
                <div>Edit Client</div>
              </a>
            </div>
            <div class="row">
              <div class="col-5">
                <div>ID</div>
              </div>
              <div class="col-7">
                <div class="med-grey text-ellipses">{{client.id}}</div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-5">
                <div>OTP Hash:</div>
              </div>
              <div class="col-7">
                <div class="med-grey text-ellipses">{{client.androidOTPHash}}</div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-5">
                <div>Callback URL</div>
              </div>
              <div class="col-7">
                <div class="med-grey text-ellipses">{{client.callbackURL}}</div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-5">
                <div>Domain</div>
              </div>
              <div class="col-7">
                <div class="med-grey text-ellipses">{{client.domain}}</div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-5">
                <div>Webhook URL</div>
              </div>
              <div class="col-7">
                <div class="med-grey text-ellipses">{{client.webhookURL}}</div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-5">
                <div>Secret</div>
              </div>
              <div class="col-7">
                <div class="med-grey text-ellipses word-wrap">{{client.secret}}</div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>