<div class="row no-gutters work-area">
  {{> side-nav}}
  <div class="col-md-9 py-5 work-area__main-area">
    <div class="tab-nav-underline w-100 justify-content-start">
      <div class="tab active px-0 font-md extra-bold">Edit Client {{client.id}}</div>
    </div>

    <form action="/api/clients/edit/{{client.id}}" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      {{> error-snippet}}
      <div class="row">
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Client Name</label>
            </div>
            <div class="col-8">
              <input type="text" name="clientname" value="{{client.name}}"
                class="underline-input pb-4 font-sm bold w-100" placeholder="Client Name">
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Domain</label>
            </div>
            <div class="col-8">
              <input type="text" name="domain" value="{{client.clientDomains}}"
                class="underline-input pb-4 font-sm bold w-100" placeholder="Domain">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Callback URL</label>
            </div>
            <div class="col-8">
              <input type="text" name="callback" value="{{client.clientCallbacks}}"
                class="underline-input pb-4 font-sm bold w-100" placeholder="Callback URL">
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Default URL</label>
            </div>
            <div class="col-8">
              <input type="text" name="defaulturl" value="{{client.clientdefaultURL}}"
                class="underline-input pb-4 font-sm bold w-100" placeholder="Default URL">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label class="font-sm">Android OTP Hash</label>
            </div>
            <div class="col-8">
              <input type="text" maxlength="11" class="underline-input pb-4 font-sm bold w-100"
                placeholder="OTP Hash for Android" name="androidOTPHash" value="{{client.androidOTPHash}}" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Webhook URL</label>
            </div>
            <div class="col-8">
              <input type="text" name="webhookurl" value="{{client.webhookURL}}"
                class="underline-input pb-4 font-sm bold w-100" placeholder="Webhook URL">
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <button class="button-solid button-orange lg">Save Client</button>
        <button class="font-sm ml-4 orange" type="reset">Reset</button>
      </div>
    </form>
  </div>
</div>