<div class="row no-gutters work-area">
  {{> side-nav}}
  <div class="col-9 py-5 work-area__main-area">
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-4">
        <div class="tab-nav-underline w-100 justify-content-start">
          <div class="tab active px-0 font-md extra-bold">Client {{client.name}}</div>
        </div>
      </div>
      <a href="/clients/{{client.id}}/edit" class="button-solid lg">
        Edit Client
      </a>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Client ID</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{client.id}}</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Client Secret</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{client.secret}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Default URL</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{client.defaultURL}}</span>
          </div>
        </div>
      </div>
      {{#ifeq val=userRole expected="admin"}}
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Trusted Client</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{client.trusted}}</span>
          </div>
        </div>
      </div>
      {{/ifeq}}
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Domain</span>
          </div>
          <div class="col-8">
            {{#each client.domain as |domain index|}}
              <span class="font-sm bold word-wrap">
                {{#if index}} , {{/if}}
                {{domain}}
              </span>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Callback URL</span>
          </div>
          <div class="col-8">
            {{#each client.callbackURL as |callback index|}}
              <span class="font-sm bold word-wrap">
                {{#if index}} , {{/if}}
                {{callback}}
              </span>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
