<div class="login-signup">
    <div class="card c-signup">
        <h1 class="heading-u-red">
            SIGNUP: Get access to Coding Blocks courses
        </h1>

        <form method="post" action="/signup">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="refcode" value="{{refCode}}">
            {{> error-snippet}}

            <input type="text" class="input-text icon user-bg tooltip-button" name="username" placeholder="Username" value="{{prevForm.username}}" required>

            <div class="border-card w-100 p-4 mb-4 tooltip-popper">
                - Username should be of length 3-50 characters<br>
                - Username can only start with alphabets<br>
                - Username can only contain alhpabets, numbers, - (hyphen), _ (underscore), .(dot)<br>
                - Username should not end with confusing extensions like .js, .ts<br>
            </div>

            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 first-name">
                    <input type="text" class="input-text icon lines-bg" name="firstname" placeholder="First Name" value="{{prevForm.firstname}}" required>
                </div>
                <div class="col-sm-12 col-md-6 last-name">
                    <input type="text" class="input-text icon lines-bg" name="lastname" placeholder="Last Name" value="{{prevForm.lastname}}" required>
                </div>
            </div>
            <select class="form-control input-text inputvalidation" name="gender" required>
                <option>MALE</option>
                <option>FEMALE</option>
                <option selected>UNDISCLOSED</option>
            </select>
            <div class="row">
                <select name="dial_code" class="input-text col-4">
                    {{#each countries}}
                        {{#ifeq expected=dial_code val=../prevForm.dial_code}}
                            <option class="dropdown-li" value="{{dial_code}}" selected>
                                {{name}} ({{dial_code}})
                            </option>
                        {{else}}
                            <option class="dropdown-li" value="{{dial_code}}">
                                {{name}} ({{dial_code}})
                            </option>
                        {{/ifeq}}
                    {{/each}}
                </select>
                <input class="input-text col-8" type="text"
                    name="mobile_number" id="mobile_number" value="{{prevForm.mobile_number}}"/>
            </div>


            <div class="row no-gutters align-items-center justify-content-between detail-row">
                <div class="label-input col-2">College</div>
                <select name="collegeId" class="input-text col-10" required>
                    {{#each colleges}}
                        {{../prevForm.demographic.collegeId}}
                        {{#ifeq expected=id val=../prevForm.demographic.collegeId}}
                            <option class="dropdown-li" value="{{id}}" selected>{{name}}</option>
                        {{else}}
                            <option class="dropdown-li" value="{{id}}">{{name}}</option>
                        {{/ifeq}}
                    {{/each}}
                </select>
            </div>

            <div class="row no-gutters align-items-center justify-content-between detail-row">
                <div class="label-input col-2">Branch / Course</div>
                <select name="branchId" class="input-text col-10" required>
                    {{#each branches}}
                        {{#ifeq expected=id val=../prevForm.demographic.branchId}}
                            <option class="dropdown-li" value="{{id}}" selected>{{name}}</option>
                        {{else}}
                            <option class="dropdown-li" value="{{id}}">{{name}}</option>
                        {{/ifeq}}
                    {{/each}}
                </select>
            </div>

            <div class="row no-gutters align-items-center justify-content-between detail-row">
                <div class="label-input col-2">Graduation Year</div>
                <select name="gradYear" class="input-text col-10" required>
                    {{#each gradYears}}
                        {{#ifeq expected=this val=../prevForm.gradYear}}
                            <option class="dropdown-li" value="{{this}}" selected>{{this}}</option>
                        {{else}}
                            <option class="dropdown-li" value="{{this}}">{{this}}</option>
                        {{/ifeq}}
                    {{/each}}
                </select>
            </div>

            <input type="email"  style="text-transform: lowercase;" class="input-text icon mail-bg" name="email" placeholder="Email Address" value="{{prevForm.email}}" required>

            <input type="password" class="input-text icon fingerprint-bg" name="password" placeholder="Password" required>

            <div class="row footer">
                <button class="button-solid lg" type="submit"> SIGNUP NOW</button>
               
                <div class="signup d-flex flex-column justify-content-center">
                    Already have an account?
                    <a href="/login">
                        <button type="button" class="red">LOGIN NOW</button>
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>

<script>
    const reference = document.querySelector('.tooltip-button');
    const popper = document.querySelector('.tooltip-popper');
    const popperInstance = new Popper(reference, popper, {});
</script>
