<div class="row no-gutters work-area">
  {{> side-nav}}
  <div class="col-md-9 py-5 work-area__main-area">
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-4">
        <div class="tab-nav-underline w-100 justify-content-start">
          <div class="tab active px-0 font-md extra-bold">My Profile</div>
        </div>
      </div>
      <a href="/users/me/edit" class="button-solid button-orange lg">
        Edit Profile
      </a>
    </div>
    <div class="row">
      <div class="col-lg-6 mt-5">
        <div class="row align-items-center">
          <div class="col-xl-4 col-lg-12 col-sm-4 mb-xl-0 mb-lg-4 mb-sm-0 mb-4">
            <div class="row no-gutters align-items-center">
              <i class="far fa-envelope"></i>
              <span class="font-sm flex-1 pl-2">Verified Email</span>
            </div>
          </div>
          <div class="col-xl-8 col-lg-12 col-sm-8">
            {{#if user.verifiedemail}}
            <div class="row align-items-center justify-content-between no-gutters">
              <span class="font-sm bold flex-1 pb-4 border-bottom salmon">{{user.verifiedemail}}</span>
              <i class="fas fa-check fa-lg orange ml-4"></i>
            </div>
            {{else}}
            <form action="/verifyemail" method="POST" class="row no-gutters align-items-center justify-content-between">
              <input type="text" class="underline-input font-sm bold flex-1 pr-2" placeholder="Email to verify" name="email"
                value="{{user.email}}" required />
              <button type="submit" class="orange">
                Verify
              </button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-5">
        <div class="row align-items-center">
          <div class="col-xl-4 col-lg-12 col-sm-4 mb-xl-0 mb-lg-4 mb-sm-0 mb-4">
            <div class="row no-gutters align-items-center">
              <i class="fas fa-phone"></i>
              <span class="font-sm flex-1 pl-2">Verified Mobile Number</span>
            </div>
          </div>
          <div class="col-xl-8 col-lg-12 col-sm-8">
            {{#if user.verifiedmobile}}
            <div class="row align-items-center justify-content-between no-gutters">
              <span class="font-sm bold salmon flex-1 pb-4 border-bottom">{{user.verifiedmobile}}</span>
              <i class="fas fa-check fa-lg orange ml-4"></i>
            </div>
            {{else}}
            <div class="row align-items-center justify-content-between no-gutters">
              <span class="font-sm bold flex-1 pb-4 border-bottom pr-2">{{user.mobile_number}}</span>
              <a class="orange" href="/verifymobile">Verify</a>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    <h6 class="bold mt-5 pt-4 pb-2">USER DETAILS</h6>
    <div class="divider-h mb-5 mt-4"></div>

    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">First Name</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{user.firstname}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Last Name</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{user.lastname}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">User ID</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{user.id}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">User Name</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{user.username}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">My Referral Code</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{user.referralCode}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Gender</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{user.gender}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">T-Shirt Size</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold">{{user.apparelGoodiesSize}}</span>
          </div>
        </div>
      </div>
    </div>

    <h6 class="bold mt-5 pt-4 pb-2">COLLEGE DETAILS</h6>
    <div class="divider-h mb-5 mt-4"></div>

    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">College</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{user.demographic.college.name}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Branch</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">(B.Tech/BE) Computers / IT / Software</span>
          </div>
        </div>
      </div>
    </div>

    <h6 class="bold mt-5 pt-4 pb-2">ACCOUNTS CONNECTED</h6>
    <div class="divider-hmt-4"></div>

    <div class="row">
      {{#if user.usergoogle}}
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <i class="fab fa-google-plus"></i>
            <span class="font-sm ml-2">Google</span>
          </div>
          <div class="col-8">
            <a target="_blank" href="http://google.com/{{user.usergoogle.id}}">
              <span class="font-sm bold salmon mr-2">{{user.usergoogle.id}}</span>
            </a>
            <a href="/disconnect/google">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if user.userfacebook}}
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <i class="fab fa-facebook-f"></i>
            <span class="font-sm ml-2">Facebook</span>
          </div>
          <div class="col-8">
            <a target="_blank" href="http://facebook.com/{{user.userfacebook.id}}">
              <span class="font-sm bold salmon mr-2">{{user.userfacebook.id}}</span>
            </a>
            <a href="/disconnect/facebook">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if user.usertwitter}}
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <i class="fab fa-twitter"></i>
            <span class="font-sm ml-2">Twitter</span>
          </div>
          <div class="col-8">
            <a target="_blank" href="http://twitter.com/{{user.usertwitter.username}}">
              <span class="font-sm bold salmon mr-2">{{user.usertwitter.username}}</span>
            </a>
            <a href="/disconnect/twitter">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if user.usergithub}}
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <i class="fab fa-github"></i>
            <span class="font-sm ml-2">Github</span>
          </div>
          <div class="col-8">
            <a target="_blank" href="http://github.com/{{user.usergithub.username}}">
              <span class="font-sm bold salmon mr-2">{{user.usergithub.username}}</span>
            </a>
            <a href="/disconnect/github">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if user.userlinkedin}}
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <i class="fab fa-linkedin-in"></i>
            <span class="font-sm ml-2">LinkedIn</span>
          </div>
          <div class="col-8">
            <a target="_blank" href="{{user.userlinkedin.profile}}">
              <span class="font-sm bold salmon mr-2">{{user.userlinkedin.username}}</span>
            </a>
            <a href="/disconnect/linkedin">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      </div>
      {{/if}}
      {{#if user.userdiscord}}
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <i class="fab fa-discord"></i>
            <span class="font-sm ml-2">Discord</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold salmon mr-2">{{user.userdiscord.username}}</span>
            <a href="/disconnect/discord">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
      </div>
      {{/if}}
    </div>

    <div class="mt-5">
      <span class="font-sm d-sm-inline-block d-block mb-sm-0 mb-3">You may also connect to</span>
      {{#unless user.usergoogle}}
      <a href="/connect/google" class="ml-sm-5">
        <i class="fa-2x fab fa-google-plus"></i>
      </a>
      {{/unless}}
      {{#unless user.userfacebook}}
      <a href="/connect/facebook" class="ml-sm-5 ml-4">
        <i class="fa-2x fab fa-facebook-f"></i>
      </a>
      {{/unless}}
      {{#unless user.usertwitter}}
      <a href="/connect/twitter" class="ml-sm-5 ml-4">
        <i class="fa-2x fab fa-twitter"></i>
      </a>
      {{/unless}}
      {{#unless user.usergithub}}
      <a href="/connect/github" class="ml-sm-5 ml-4">
        <i class="fa-2x fab fa-github"></i>
      </a>
      {{/unless}}
      {{#unless user.userlinkedin}}
      <a href="/connect/linkedin" class="ml-sm-5 ml-4">
        <i class="fa-2x fab fa-linkedin-in"></i>
      </a>
      {{/unless}}
      {{#unless user.userdiscord}}
      <a href="/connect/discord" class="ml-sm-5 ml-4">
        <i class="fa-2x fab fa-discord"></i>
      </a>
      {{/unless}}
    </div>
  </div>
</div>