{{!< centercolumn}}
<div class="offset-md-4 col-md-8 c-add-address">
  <div class="card">
    <h1 class="heading-u-red">Add Address</h1>

      <form action="/api/address" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" name="returnTo" id="redirect-input" value="{{returnTo}}" />

        {{> error-snippet}}

      <div class="my-5 row align-items-center">
        <div class="col-md-2 col-4">
          <label for="addtype" class="font-sm">Label</label>
        </div>
        <div class="col-md-4 col-8">
          <input type="text" name="label" class="underline-input pb-4 font-sm bold w-100"
            placeholder="HOME | OFFICE | OTHER">
        </div>
      </div>

      <div class="mb-4 divider-h"></div>

      <div class="row">
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">First Name</label>
            </div>
            <div class="col-8">
              <input type="text" name="first_name" class="underline-input pb-4 font-sm bold w-100"
                placeholder="First Name" value="{{userDetails.firstname}}">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Last Name</label>
            </div>
            <div class="col-8">
              <input type="text" name="last_name" class="underline-input pb-4 font-sm bold w-100"
                placeholder="Last Name" value="{{userDetails.lastname}}">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Mobile</label>
            </div>
            <div class="col-8">
              <input type="text" name="number" class="underline-input pb-4 font-sm bold w-100"
                placeholder="Mobile Number">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Email</label>
            </div>
            <div class="col-8">
              <input type="text" name="email" class="underline-input pb-4 font-sm bold w-100" placeholder="E-Mail" value="{{userDetails.email}}">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Address</label>
            </div>
            <div class="col-8">
              <input type="text" name="street_address" class="underline-input pb-4 font-sm bold w-100"
                placeholder="Address">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Landmark</label>
            </div>
            <div class="col-8">
              <input type="text" name="landmark" class="underline-input pb-4 font-sm bold w-100" placeholder="Landmark">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Pincode</label>
            </div>
            <div class="col-8">
              <input type="text" name="pincode" class="underline-input pb-4 font-sm bold w-100" placeholder="Pincode">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">City</label>
            </div>
            <div class="col-8">
              <input type="text" name="city" class="underline-input pb-4 font-sm bold w-100" placeholder="City">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">State</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="stateId" class="font-sm bold underline-select pb-4 w-100" required>
                  {{#each states}}
                  <option class="py-2" value="{{id}}" {{#selected}}selected="selected" {{/selected}}>{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="my-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Country</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="countryId" class="font-sm bold underline-select pb-4 w-100" required>
                  {{#each countries}}
                  <option class="py-2" value="{{id}}" {{#selected}}selected="selected" {{/selected}}>{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mt-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Country Code</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="dial_code" class="font-sm bold underline-select pb-4 w-100" required>
                  {{#each countries}}
                  <option class="py-2" value="{{dial_code}}" {{#selected}}selected="selected" {{/selected}}>
                    {{name}} ({{dial_code}})
                  </option>
                  {{/each}}
                </select>
              </div>
            </div>

              <div class="row no-gutters align-items-center justify-content-between detail-row">
                      <div class="label-input col-md-4 col-sm-3">Whatsapp No.</div>
                      <input class="input-text col-md-8 col-sm-8"  type="text" placeholder="Whatsapp Number" name="whatsapp_number" />

              </div>
              <div class="row no-gutters align-items-center detail-row">
                <label><input type="checkbox" class="input-checkbox" id="cb-whatsapp-toggle" >Same as Mobile No.</label>
              </div>
           </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mt-4 row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Whatsapp No.</label>
            </div>
            <div class="col-8">
              <input type="text" name="whatsapp_number" class="underline-input pb-4 font-sm bold w-100"
                placeholder="Whatsapp No.">
            </div>
          </div>

        </div>
      </div>
      <div class="mt-5">
        <button class="button-solid button-orange lg" type="submit">Save Changes</button>
        <button class="font-sm ml-4 orange" type="reset">Reset</button>
      </div>
    </form>
  </div>
</div>
