{{!< centercolumn}}
{{> error-snippet}}

<div class="offset-md-4 col-md-8 c-address-page">
  <div class="card">
    <div class="flex-row justify-content-between">
      <h1 class="heading-u-red">My Addresses</h1>
        <div class="button-solid align-self-start">
          <a class="white" href="/address/add">
            <button>+ Add New Address</button>
          </a>
        </div>
      </div>
      <div class="attributes">
        <div class="row justify-content-between">
          {{#each addresses as |address index|}}
            <div class="border-card">
              <a href="/address/{{address.id}}">
                <div class="address-row heading red">{{address.label}}</div>
                  <div class="address-row heading">
                      {{address.first_name}} {{address.last_name}} {{address.email}} |({{address.dial_code}}){{address.mobile_number}}
                      {{#if address.whatsapp_number}}
                        | {{address.whatsapp_number}}
                      {{/if}}
                </div>
                <div class="address-row grey">
                  {{address.street_address}} Near {{address.landmark}}, {{address.city}}<br> {{address.state.name}}: {{address.pincode}}
                    <br>{{address.country.name}}
                </div>
              </a>
                <div class="row justify-content-between button-row align-items-center">
                  <div class="grey">
                    <button class="removeButton" id={{address.id}}>Remove Address  <i class="far fa-window-close"></i></button>
                  </div>
                  <a href="/address/{{address.id}}/edit">
                    <div class="button-dashed">
                      <button>Edit Address</button>
                    </div>
                  </a>
                </div>
              </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".removeButton").click(function(event) {
      swal({
        title: "Are you sure?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          window.location.href = `/address/${event.target.id}/delete`;
        }
      });
    })
  })
</script>