<div class="row no-gutters work-area">
  {{> side-nav}}
  <div class="col-md-9 py-5 work-area__main-area">
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-4">
        <div class="tab-nav-underline w-100 justify-content-start">
          <div class="tab active px-0 font-md extra-bold">My Addresses</div>
        </div>
      </div>
      <a href="/address/add" class="button-solid button-orange lg">Add Address</a>
    </div>

    {{> error-snippet}}

    <div class="row mt-5 justify-content-lg-start justify-content-center">
      {{#each addresses as |address index|}}
        <div class="col-lg-6 col-md-8 col-12 mb-5">
          <div class="border-card p-xl-5 p-4 position-relative">
            <h6 class="bold card-tag orange pr-2">
              {{address.label}}
            </h6>
            <h5 class="bold mb-3">{{address.first_name}} {{address.last_name}}</h5>
            <div>
              <i class="far fa-envelope fa-lg"></i>
              <span class="pl-3">{{address.email}}</span>
            </div>
            <div class="mt-3">
              <i class="fas fa-phone fa-lg"></i>
              <span class="pl-3">{{address.mobile_number}}</span>
            </div>
            <div class="my-4 grey">
              {{address.street_address}} Near {{address.landmark}}, {{address.city}}<br> {{address.state.name}}: {{address.pincode}}
              <br>{{address.country.name}}
            </div>
            <div class="semi-bold">
              <a href="/address/{{address.id}}/edit" class="orange">Edit Address</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
