<div class="row no-gutters work-area">
  {{> side-nav}}
  <div class="col-md-9 py-5 work-area__main-area">
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-4">
        <div class="tab-nav-underline w-100 justify-content-start">
          <div class="tab active px-0 font-md extra-bold">Address {{address.label}}</div>
        </div>
      </div>
      <a href="/address/{{address.id}}/edit" class="button-solid button-orange lg">
        Edit Address
      </a>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Label</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.label}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">First Name</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.first_name}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Last Name</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.last_name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Mobile No.</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.mobile_number}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Email</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.email}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Street Address</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.street_address}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Landmark</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.landmark}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Pincode</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.pincode}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">City</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.city}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">State</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.state.name}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Country</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.country.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Country Code</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.dial_code}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Whatsapp No.</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{address.whatsapp_number}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>