<div class="row no-gutters work-area">
    {{>side-nav}}
    <div class="col-md-9 py-5 work-area__main-area">
      <div class="row no-gutters align-items-center justify-content-between">
        <div class="col-4">
          <div class="tab-nav-underline w-100 justify-content-start">
            <div class="tab active px-0 font-md extra-bold">My Organisations</div>
          </div>
        </div>
        <a href="/organisations/add" class="button-solid lg">Add Organisation</a>
      </div>

      <div class="row mt-5">
        {{#each organisations as |org|}}
          <div class="col-xl-4 col-sm-6 mb-5">
            <div class="border-card p-4 position-relative">
              <h5 class="bold mb-4">{{org.name}}</h5>
              <div class="row">
                <div class="col-5">
                  <div>ID</div>
                </div>
                <div class="col-7">
                  <div class="med-grey text-ellipses">{{org.id}}</div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-5">
                  <div>Full Name</div>
                </div>
                <div class="col-7">
                  <div class="med-grey text-ellipses">{{org.full_name}}</div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-5">
                  <div>Domain</div>
                </div>
                <div class="col-7">
                  <div class="med-grey text-ellipses">{{org.domain}}</div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-5">
                  <div>Website</div>
                </div>
                <div class="col-7">
                  <div class="med-grey text-ellipses">{{org.website}}</div>
                </div>
              </div>
              <div class="semi-bold mt-5">
                <a href="/organisations/{{org.id}}/edit" class="salmon">Edit Organisation</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
</div>