<div class="row no-gutters work-area">
  {{> side-nav}}
  <div class="col-9 py-5 work-area__main-area">
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-4">
        <div class="tab-nav-underline w-100 justify-content-start">
          <div class="tab active px-0 font-md extra-bold">Organisation {{organisation.name}}</div>
        </div>
      </div>
      <a href="/organisations/{{organisation.id}}/edit" class="button-solid lg">
        Edit Organisation
      </a>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Name</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{organisation.name}}</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Full Name</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{organisation.full_name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Website</span>
          </div>
          <div class="col-8">
            <span class="font-sm bold word-wrap">{{organisation.website}}</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <span class="font-sm">Domains</span>
          </div>
          <div class="col-8">
            {{#each organisation.domain as |domain index|}}
              <span class="font-sm bold word-wrap">
                {{#if index }} , {{/if}}
                {{domain}}
              </span>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
